/atom/.atom/.apm
/atom/.atom/.node-gyp
/atom/.atom/blob-store
/atom/.atom/compile-cache
/atom/.atom/github.cson
/atom/.atom/nohup.out
/atom/.atom/packages
/atom/.atom/storage
/emulation/.var/app/org.DolphinEmu.dolphin-emu/config/dolphin-emu/Qt.ini
/gtk/.config/gtk-3.0/bookmarks
/ion/.config/ion/lwd
/secret/*.asc
/secret/*.tar
/vifm/.config/vifm/vifminfo
