[submodule "i3status-rust"]
	path = i3status-rust
	url = https://github.com/greshake/i3status-rust.git
[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = files/.vim/pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "vim/.vim/pack/vendor/start/vim-orgmode"]
	path = files/.vim/pack/vendor/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "i3-auto-layout"]
	path = i3-auto-layout
	url = https://github.com/chmln/i3-auto-layout.git
	branch = master
[submodule "files/.local/share/kwin/scripts/grid-tiling"]
	path = files/.local/share/kwin/scripts/grid-tiling
	url = https://github.com/lingtjien/Grid-Tiling-Kwin
	branch = master
[submodule "files/.vim/pack/vendor/start/editorconfig-vim"]
	path = files/.vim/pack/vendor/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	branch = master
[submodule "files/.vim/plugged/vim-ripgrep"]
	path = files/.vim/plugged/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
	branch = master
[submodule "evremap"]
	path = evremap
	url = https://github.com/jackpot51/evremap.git
	branch = master
[submodule "mako"]
	path = mako
	url = https://github.com/emersion/mako.git
	branch = master
