/files/.atom/.apm
/files/.atom/.node-gyp
/files/.atom/blob-store
/files/.atom/compile-cache
/files/.atom/github.cson
/files/.atom/nohup.out
/files/.atom/packages
/files/.atom/storage
/files/.config/gtk-3.0/bookmarks
/files/.config/ion/lwd
/files/.config/vifm/vifminfo
/files/.var/app/org.DolphinEmu.dolphin-emu/config/dolphin-emu/Qt.ini
/secrets/*.asc
/secrets/*.tar
