#TODO: Fix the mess that is ctrl-k
'body .native-key-bindings':
  'ctrl-h': 'unset!'
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-j': 'unset!'
'atom-workspace atom-text-editor':
  'ctrl-l': 'unset!'
'body':
    'ctrl-h': 'window:focus-pane-on-left'
    'ctrl-j': 'window:focus-pane-below'
    'ctrl-k': 'window:focus-pane-above'
    'ctrl-l': 'window:focus-pane-on-right'
