[Desktop Entry]
Type=Application
Exec=sh -c "xmodmap ~/.Xmodmap"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xmodmap
Name=xmodmap
Comment[en_US]=Set X keyboard mapping
Comment=Set X keyboard mapping
