! Set font
xterm*faceName: IBM Plex Mono
xterm*faceSize: 12

! Set geometry
xterm*vt100*geometry: 80x40

! Set scrollback
xterm*saveLines: 8192

! Set selection logic
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48

! Set correct terminal type
xterm*termName: xterm-color

! Set foreground and background
xterm*background: black
xterm*foreground: white

! Set bell to off
xterm*visualBell: false

! Set login shell
xterm*loginShell: true

! Set key bindings
xterm*translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
