[user]
	email = jackpot51@gmail.com
	name = Jeremy Soller
	signingkey = 102E4D12776E977604FF502ADCFCA852D3906975
[push]
	default = simple
[credential]
	helper = store
[commit]
	gpgsign = true
[diff "hex"]
	textconv = xxd
	binary = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	smudge = git-lfs smudge -- %f
	required = true
[diff]
	tool = meld
[pull]
	rebase = false
