[Desktop Entry]
Type=Application
Exec=sh -c "gnome-slideshow ~/Pictures/Backgrounds"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Background Slideshow
Name=Background Slideshow
Comment[en_US]=Sets background to images from ~/Pictures/Backgrounds
Comment=Sets background to images from ~/Pictures/Backgrounds
